.button {
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px 15px;
  background-color: lightcoral;
  border-radius: 3px;
}

.button + .button {
  margin-left: 10px;
}

.button:active {
  transform: scale(0.9);
}
